h1{
    font-size: 5em;
    font-family: chalkduster;
    color: darkcyan;
    text-shadow: 0.08em 0.08em silver;
    text-align: center;
    background-color: #b3f2d6;
}

a{
    font-size: 2em;
    color: brown;
    text-align: right;
}
